*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: #FAF4D3;
}

html,
body {
  max-width: 1440px;
  overflow-x: hidden;
  background-color: #2D282A;
  margin: 0 auto;
}

input,
button {
  background-color: #2D282A;
  border: 1px solid #FAF4D3;
  outline: none;
  padding: 10px;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

h1 {
  text-align: center;
  margin-top: 1em;
}


h2 {
  color: #FAF4D3;
  text-align: center;
  margin: 50px 0;
}