body{
    background-color: $color-fond;
    max-width: 1440px;
    width: 100%;
    margin : 25px auto;
    
}
#produits{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    #nos-produits{
        color: $color-text;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 2em;
    }
    #first-viande{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        figcaption{
            margin-left: 10em;
            padding: 2em;
            color: $color-text;
            font-size: 1.5em;
            border: 1px solid $color-text;
        }
    }
    #first-charcuterie{
        margin-top: 5em;
        width: 100%;
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
        figcaption{
            margin-right: 7em;
            margin-left: 3em;
            padding: 2em;
            color: $color-text;
            font-size: 1.5em;
            border: 1px solid $color-text;
        }
    }
    #first-plat{
        margin-top: 5em;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        figcaption{
            margin-left: 10em;
            padding: 2em;
            color: $color-text;
            font-size: 1.5em;
            border: 1px solid $color-text;
        }
    }
}