#registration{
    h1{
        margin: 3em;
        display: flex;
        justify-content: center;
        color: $color-text;
    }
    form{
        display: flex;
        flex-direction: column;
        align-items: end;
        ;
        input{
            margin: 0 40em 2em 10em;
            width: 20em;
            height: 2em;
            background-color: $color-fond;
            border: 1px solid $color-text;
            color: $color-text;
            
            
        }
        label{
            
            font-size: 1.1em;
            color: $color-text;
        }
    }
    #button-log{
        input{
           margin-right: 42em;
            border-radius: 1em;
            max-width: 15em;
        }
       
    }
}

input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(50%) sepia(50%) saturate(40%) hue-rotate(180deg);
  }