.signup-form {
  display: flex;
  flex-direction: column;
  width: 60%;
  justify-content: center;
  align-items: center;
  margin: 4em auto 0;
  padding-right: 2em;
  div {
    margin-right: 25px;
    width: 85%;
    font-size: 20px;
    display: flex;
    justify-content: end;
    margin-bottom: 2em;
    input {
      width: 40%;
      margin-left: 10em;
      height: 2.5em;
    }
    &.password {
      .show-hide-password {
        background-color: #faf4d3;
        position: absolute;
        width: 10px;
      }
    }
  }

  .signup-login {
    margin-top: 2em;
    width: 80%;
    display: flex;
    justify-content: space-around;
    button {
      width: 12em;
      height: 4em;
      font-size: 1em;
      border-radius: 1em;
    }
  }
}
